update imobipro/fluxos/04. Fluxo Imobiliária/5. Corretor/2. Recebe Mensagem Corretor Novo #ImobiPro - By @xEistibus ❤️‍🔥.json
{
  "name": "Recebe Mensagem Corretor Novo #ImobiPro",
  "nodes": [
    {
      "parameters": {
        "queue": "corretor",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1808,
        240
      ],
      "id": "f8dcd348-1afc-494b-a19a-072cdbc5046b",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "z1WHI6Y2yeHRCV18",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f6d9b4d9-5dd1-4979-b37b-97f6957b043e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96cf6bb0-6a16-42a2-aaf9-c94307540450",
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cliente"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1488,
        240
      ],
      "id": "e8edcefb-eeee-4f9d-afba-be8d916f9ec5",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.remoteJid }}_block",
        "options": {}
      },
      "id": "0b3308ff-26bf-4c6f-a9c1-031a30a4364d",
      "name": "Verifica Status Block",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1248,
        320
      ],
      "credentials": {
        "redis": {
          "id": "dA56R2Qx4MaS8Q4j",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Normalizador1').item.json.remoteJid }}_block",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 50
      },
      "id": "ba34674c-eeee-4ad3-98e1-bbeba4323dfe",
      "name": "Parar Resposta Agent",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1248,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "dA56R2Qx4MaS8Q4j",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "75OXQ2DauVzyAqem",
          "mode": "list",
          "cachedResultName": "Salva Histórico #ImobiPro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "redelivered": "={{ $('Normalizador1').item.json.redelivered }}",
            "fromMe": "={{ $('Normalizador1').item.json.fromMe }}",
            "deliveryTag": "={{ $('Normalizador1').item.json.deliveryTag }}",
            "instancia": "={{ $('Normalizador1').item.json.instancia }}",
            "remoteJid": "={{ $('Normalizador1').item.json.remoteJid }}",
            "conversation": "={{ $('Normalizador1').item.json.conversation }}",
            "messageType": "={{ $('Normalizador1').item.json.messageType }}",
            "func": "={{ $json.func }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "deliveryTag",
              "displayName": "deliveryTag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "redelivered",
              "displayName": "redelivered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "remoteJid",
              "displayName": "remoteJid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fromMe",
              "displayName": "fromMe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "conversation",
              "displayName": "conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageType",
              "displayName": "messageType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "func",
              "displayName": "func",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -528,
        144
      ],
      "id": "40daa1ea-6855-4191-bab0-815fc8adbc4e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "397b2f90-6ff5-4626-89c3-fbb2b10b1ad9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent Desativada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent Ativada"
            }
          ]
        },
        "options": {}
      },
      "id": "261a32ed-c62d-43a8-b63e-bafe2c42b2ea",
      "name": "Agent Ativo/Inativo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1040,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2a829c9-d5bd-4344-a6ce-9033abc95894",
              "name": "func",
              "value": "parar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        144
      ],
      "id": "405a81a4-0de4-4750-8368-bfa9f0a6b406",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a22e4e0c-8d1a-4925-929e-92f6ffb5e3cb",
              "name": "func",
              "value": "desativado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        240
      ],
      "id": "8035117a-e896-4089-a2a5-a52f6a4f4fa0",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c680261-e816-48c8-a48f-84176a296861",
              "name": "func",
              "value": "ativado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        432
      ],
      "id": "7eed5c48-b376-4eee-9369-5d0ba5ac08e5",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Pegando o item (primeiro elemento do array)\nconst item = $input.item.json;\n\n// Contando quantas propriedades tem no objeto\nconst quantidadeDePropriedades = Object.keys(item).length;\n\n// Se tiver até 3 propriedades, retornamos 'conversation'\nif (quantidadeDePropriedades <= 3) {\n\treturn [\n\t\t{\n\t\t\tjson: { result: 'conversation' }\n\t\t}\n\t];\n}\n\n// Se tiver 4 ou mais propriedades, retornamos 'content'\nreturn [\n\t{\n\t\tjson: { result: 'content' }\n\t}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        144
      ],
      "id": "d68806b1-35fb-479b-85f5-22aa4cc8a235",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "content",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33299650-047d-4c7e-ba0a-e756fff804ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Agente Pausado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85ba065a-43fd-4fd0-b848-05fefd330c63",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agente Ligado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        144
      ],
      "id": "99672402-4da8-42d8-a047-28d6a2aaff66",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60d6b895-fea6-4d7f-932a-b8771c97242e",
              "name": "text",
              "value": "={{ $('Execute Workflow').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c2cdb8e0-b2f8-4e71-9906-144bf39e234b",
      "name": "initial customer message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Este código assume que o payload está no formato de array, como no seu exemplo\nconst result = [];\n\nfor (const item of items) {\n  // Fazendo o parse do content (transformar string em JSON)\n  const contentData = JSON.parse(item.json.content);\n\n  // Montando o novo objeto com as informações desejadas\n  result.push({\n    json: {\n      deliveryTag: item.json.fields.deliveryTag,\n      redelivered: item.json.fields.redelivered,\n      ...contentData // Espalha os campos do content direto no json final\n    }\n  });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        240
      ],
      "id": "61c89ec9-156d-4df2-adc3-15f88fec3060",
      "name": "Normalizador1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fd30bdad-c9dd-4a0f-b407-39128a7c9e9e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "queue": "agent-corretor",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1504,
        160
      ],
      "id": "b28445fc-e849-4da3-855d-4d75030194bc",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "z1WHI6Y2yeHRCV18",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57da1f7d-0900-4714-beb8-4ee38f10e7f3",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "1f68fa30-59bb-4062-b352-7933051fcc08",
              "name": "remoteJid",
              "value": "={{ $('Normalizador1').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "b8b24a60-2eba-4389-ad89-1a582eb7eb97",
              "name": "instancia",
              "value": "={{ $('Normalizador1').item.json.instancia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        160
      ],
      "id": "607ddd04-f819-4b8e-94c6-6e3e8fbaab2b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "3261917c-9397-4935-a7ee-1466d0d6b94d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        160
      ],
      "webhookId": "3cccf924-4876-4755-b4b3-ab46e09d4c07"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9e9b4155-e399-4936-a5db-2d79c8cb871f",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('initial customer message').item.json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d7f5f2b4-591a-4cc0-b153-8cfb6ecb41ce",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        160
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Normalizador1').item.json.remoteJid }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "39bf7657-f0fc-45ab-9067-456461a4019d",
      "name": "Messages List",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "credentials": {
        "redis": {
          "id": "dA56R2Qx4MaS8Q4j",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Normalizador1').item.json.remoteJid }}",
        "options": {}
      },
      "id": "a83bf7bb-fa1f-4b20-9c82-b00f6bf056c2",
      "name": "Pull the Messages",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        528,
        160
      ],
      "credentials": {
        "redis": {
          "id": "dA56R2Qx4MaS8Q4j",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Normalizador1').item.json.remoteJid }}"
      },
      "id": "813557ea-bbf1-4943-8c7a-abb105640123",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        96
      ],
      "credentials": {
        "redis": {
          "id": "dA56R2Qx4MaS8Q4j",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        288
      ],
      "id": "c425ebf9-25ce-4f72-8048-6db7adb7e492",
      "name": "No Operation, do nothing",
      "notes": "Se a mensagem chegar aqui, significa que foram mais de uma mensagem para concatenar, e a primeira chegou aqui para juntar com a(s) próxima(s)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce70488-3d4e-412d-9c28-4858906bc722",
              "name": "message",
              "value": "={{ $('Pull the Messages').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1ed09add-6e98-4326-9494-50dc15b2af20",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        96
      ]
    }
  ],
  "pinData": {
    "RabbitMQ Trigger": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-Bh1QPORtxs6gp38z1BArfg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "corretor"
          },
          "properties": {
            "headers": {}
          },
          "content": "{\"instancia\":\"isis\",\"remoteJid\":\"5519994419319@s.whatsapp.net\",\"fromMe\":\"false\",\"conversation\":\"sim, tudo certo\",\"messageType\":\"conversation\"}"
        }
      }
    ]
  },
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Normalizador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Parar Resposta Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica Status Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Status Block": {
      "main": [
        [
          {
            "node": "Agent Ativo/Inativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parar Resposta Agent": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Ativo/Inativo": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "initial customer message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initial customer message": {
      "main": [
        [
          {
            "node": "Messages List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizador1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pull the Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages List": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull the Messages": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c1393ee-7ba7-455e-b690-432883077863",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af2c2dce58b7b891043a58fa084cb85b78cc3ee626cfa19de4b473f0aab51bb8"
  },
  "id": "1ecEOA1uBcNWt87r",
  "tags": []
}